@page "/podRacing"
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Star Wars DnD: Pod Racing!!!</PageTitle>


<h1>Star Wars DnD: Pod Racing!!!</h1>

<br>

<p><em>Finding Watto's chance cube...</em></p>

<br>

<img src="Images/podracer.jpg" alt="Pod Racing">

@code {

}
